.EmailEditor {
    width: 100%;
    height: 100%;
    background: grey;
    padding: 32px 50px 24px 50px;
}

.EmailEditor-Content {
    background: white;
}

.EmailEditor-List {
}

.EmailEditor-Input {
    border: unset;
    outline: unset;
}

.EmailEditor-Item {
    display: inline-flex;
    background: rgba(102, 153, 255, 0.2);
    border-radius: 100px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 24px;
}

.EmailEditor [class^="EmailEditor-Button"] {
    background: blue;
}
